#contactUs {
	background: $darkblue;
	//border-top: 1px solid black;
	min-height: 40vh;
	color: white;
}

.contact-container {
	h3 {
		font-size: 2em;
		font-weight: 700;
	}
	p {
		font-size: 1.15em;
	}
}

.mail-button{
	font-size: 1.2em;
	transition: $trans-bg;
	a:hover {
		background-color: $lightblue;
		text-decoration: none;
		transition: $trans-bg;
	}
}

footer {
	width: 100%;
	background-color: $dark;
	text-align: right;
	h6 {
		color: white;
		a{
			color: $lightblue;
			&:hover {
				color: $blue;
				text-decoration: none;
			}
		}
	}
}
