#contactUs {
	background: $darkblue;
	//border-top: 1px solid black;
	min-height: 40vh;
	color: white;
}

.contact-container {
	h3 {
		font-size: 2em;
		font-weight: 700;
	}
	a {
		text-decoration: none;
	}	
	p {
		padding: 10px 0;
		font-size: 1.15em;
		a {	
			font-weight: 700;
			color: lighten($blue, 10%);
			transition: $trans-color;
			&:hover {
				color: $light;
				transition: $trans-color;
			}
		}
	}
}


.mail-button{
	font-size: 1.2em;
	font-weight: 700;
	transition: $trans-bg, $trans-color;
	color: $darkblue;
	&:hover {
		color: $light;
		background-color: $blue;
		transition: $trans-bg, $trans-color;
	}
}


footer {
	width: 100%;
	background-color: $dark;
	text-align: right;
	h6 {
		color: white;
		a{
			color: $lightblue;
			&:hover {
				color: $blue;
				text-decoration: none;
			}
		}
	}
}
