body {
	text-align: center;
	font-size: 16px;
	font-family: "Droid-Sans", Arial, sans-serif;
	font-weight: 400;
	padding-top: 25px;
}

.hidden {
	visibility: hidden;
	transition: display .4s;
	clear: both;
	width: 0%;
}

.btn-primary {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	font-size: 1.5em;
	font-weight: 700;
	background: rgba(44, 62, 80,1.0);
	border: rgba(44, 62, 80,1.0);
	color: rgba(127, 140, 141,1.0);
	transition: background .5s, color .5s;
}

.btn-primary.active{
	transition: background .5s, color .5s;
	background: rgba(52, 152, 219,1.0);
}

img {
	max-width: 100%;
	@media screen and (max-width: 996px) {
		//max-width: 75%;
	}
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}