//	Transitions 	//

$trans-bg: background 0.5s;
$trans-color: color 0.5s;

//	Settings and overrides	//

body {
	text-align: center;
	font-size: 16px;
	font-family: "Droid-Sans", Arial, sans-serif;
	font-weight: 400;
	padding-top: 25px;
}

.hidden {
	visibility: hidden;
	transition: display .4s;
	clear: both;
	width: 0%;
}


img {
	max-width: 100%;
	@media screen and (max-width: 996px) {
		//max-width: 75%;
	}
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}